
.page-shop-tenant-list .my-header {
	position: fixed;
	top: var(--window-top);
	z-index: 9;
	width: 100%;
	background-color: white;
}

.page-shop-tenant-list .my-list {
	margin-top: 88upx;
	margin-bottom: 100upx;
}


.page-shop-tenant-list .coupon {
	width: 100%;
	margin-left: 540upx;
	padding-top: 10upx;
	border-top: 2upx solid silver;
}

.page-shop-tenant-list .coupon-title {
	background-color: #FFB400;
	padding: 0 20upx;
	border-radius: 30upx;
	width: 100upx;
	text-align: center;
}

.page-shop-tenant-list .div-margin {
	height: 100upx;
}

